html, body {
    height: 100%;
    margin: 0;
    background: #E5E3D2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    height: 100%;
}
.height-full {
    height: 100%;
}
.half-box {
    height: 100%;   
    width: 50%;
}  
.left {
    background: #E5E3D2;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.right {
    background: #B64326;
    display: flex;
    align-items: center;
    justify-items: center;
}
.page {
    width: 100%;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.content {
    height: 100%;
    margin: 24px 16px;
    padding: 20px;
    min-height: 280px;
    background: #E5E3D2;
}
.layout {
    height: 100%;
    background: #E5E3D2;
}