/backend/src/Boxfusion.HowTo.Web.Host/App_Data/Logs/
/backend/src/Boxfusion.HowTo.Web.Host/App_Data/Logs/Logs.txt
frontend/.env
/frontend/app.log
/backend/src/Boxfusion.HowTo.Web.Host/appsettings.json
